# If you don't know what you're doing check "README.md" for more details before
# filing a request for help.

ldap:
    debug: false

    server:
        host:                           ~
        port:                           ~
        version:                        3
        encryption:                     ~

        bindDn:                         ~
        bindPassword:                   ~

    queries:
        baseDn:                         ~

        userDn:                         ~
        userFilter:                     "(objectClass=inetOrgPerson)"
        userUniqueAttribute:            "uid"
        userNameAttribute:              "cn"
        userEmailAttribute:             "mail"
        userSshKeyAttribute:            "sshPublicKey"

        groupDn:                        ~
        groupFilter:                    "(objectClass=groupOfUniqueNames)"
        groupUniqueAttribute:           "cn"
        groupMemberAttribute:           "memberUid"

gitlab:
    debug: false

    options:
        userNamesToIgnore:              []
        groupNamesToIgnore:             []

        createEmptyGroups:              false
        deleteExtraGroups:              false
        newMemberAccessLevel:           30
        sshKeysImportMode:              "merge"

        groupNamesOfAdministrators:     []
        groupNamesOfExternal:           []

    instances:
        example:
            url:            ~
            token:          ~
            ldapServerName: ~
