# If you don't know what you're doing check "README.md" for more details before
# filing a request for help.

ldap:
    debug:                  false
    winCompatibilityMode:   false

    server:
        host:                               ~
        port:                               ~
        version:                            3
        encryption:                         ~

        bindDn:                             ~
        bindPassword:                       ~

    queries:
        baseDn:                             ''

        userDn:                             ''
        userFilter:                         "(objectClass=inetOrgPerson)"
        userUniqueAttribute:                "uid"
        userMatchAttribute:                 "uid"
        userNameAttribute:                  "cn"
        userEmailAttribute:                 "mail"

        groupDn:                            ''
        groupFilter:                        "(objectClass=groupOfUniqueNames)"
        groupUniqueAttribute:               "cn"
        groupMemberAttribute:               "memberUid"

gitlab:
    debug: false

    options:
        userNamesToIgnoreRegex:             false
        userNamesToIgnore:                  []
        groupNamesToIgnoreRegex:            false
        groupNamesToIgnore:                 []

        createEmptyGroups:                  false
        deleteExtraGroups:                  false
        newMemberAccessLevel:               30


        groupNamesOfAdministratorsRegex:    false
        groupNamesOfAdministrators:         []
        groupNamesOfExternalRegex:          false
        groupNamesOfExternal:               []

    instances:
        example:
            url:            ~
            token:          ~
            ldapServerName: ~
